@tailwind base;
@tailwind components;
@tailwind utilities;

.Economy div{
    background-color: rgb(133, 150, 168);
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 6px;
}

.Business div {
    background-color: rgb(133, 150, 168);
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 6px;
}

.General div {
    background-color: rgb(133, 150, 168);
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 6px;
}